<div id="seletor_de_estados" class="escondido">
  <p><b>Estados e Distrito Federal do Brasil:</b></p>
  <div class="coluna">
  <% @estados_to_select.each_with_index do |estado, i| %>
    <p class="estados">
      <%= check_box_tag "locais[][pais_id][1][estado_id][]", estado.id, @estados_id_selected.include?(estado.id), :id => "locais_pais_1_estado_#{estado.id}" %>
      <%= label_tag "locais_pais_1_estado_#{estado.id}", "#{estado.nome} (#{estado.abrev})" %>
    </p>
    <% if (i==12) -%></div><div class="coluna"><% end -%>
  <% end %>
  </div>
  <p><%= submit_tag "Continuar &raquo;".html_safe, :id => "bot_continuar", :class => "btn btn-mini btn-primary" %></p>
</div>

<style type="text/css" media="screen">
div.coluna {
  width:240px;
  float:left;
}
p.estados {
  margin:2px 0;
}
</style>
