<div id="seletor_de_pais" class="escondido">
  <input type="hidden" id="input_ambito_nacional" name="locais[][pais_id]" value="1" />
  <%= image_tag("brasil_regioes.gif", :alt => "Mapa do Brasil.") %>
  <p><%= submit_tag "Continuar &raquo;".html_safe, :id => "bot_continuar", :class => "btn btn-mini btn-primary" %></p>
</div>
