<h3>Mais informações</h3>
<ul class="rounded">
  <li><%= link_to "Ajuda", static_page_path(:ajuda) %></li>
  <li><%= link_to "Como funciona", static_page_path(:como_funciona) %></li>
  <li><%= link_to "Quem Somos", static_page_path(:quem_somos) %></li>
</ul>
