<div class="grid_11 alpha static_page">
  <div class="rounded">
    <h2>Boas práticas no Cidade Democrática</h2>

    <p>Uma cidade melhor se faz com o envolvimento e comprometimento de todos e isso implica <strong>conversar</strong> com os que fazem a cidade. Uma boa conversa se dá quando:</p>

    <ol>
      <li>Fazemos afirmações verdadeiras, juízos fundados, declarações sinceras, esclarecimentos precisos, perguntas respeitosas;</li>
      <li>Escutamos para reconhecer o outro na criação de uma realidade mútua;</li>
      <li>Reconhecemos a legitimidade da opinião do outro e que a realidade pode ser diferente para cada um, dependendo do seu ponto de vista.</li>
    </ol>

  <p>Como cada um de nós é  um observador diferente da realidade. O diálogo é o instrumento certo para construir soluções para os problemas. Este diálogo deve incluir a disposição para <strong>cooperar</strong>.</p>

  <p>O Cidade Democrática é  um espaço moderado e com regras, como manda a democracia. A democracia é um bem que só pode ser desfrutado em conjunto. É o governo de todos ou o poder supremo que vem do povo. Mas, para tudo isso, é necessário que haja respeito e igualdade diante das regras para todos. </p>

  <p>Conheça aqui alguns os critérios de participação recomendados:</p>

  <ul>
  	<li>Use o Cidade Democrática apenas para assuntos relacionados a temas <strong>públicos e coletivos</strong>. Este não é o lugar para reclamar de um produto ou empresa, ou para promover ações comerciais;</li>
  	<li>Antes de criar sua proposta ou problema, navegue e verifique se não existem outras semelhantes. Pode ser mais interessante se engajar em uma discussão já em andamento do que iniciar uma do zero;</li>
  	<li>Facilite a troca de informações e contatos, para fortalecer as ações que queiram o bem coletivo;</li>
  	<li>Não use palavras de baixo calão (palavrões) ou outros <strong>conteúdos impróprios</strong> ou fora de questão. Use fotos pertinentes apenas para ilustrar sua proposta;</li>
  	<li>As intervenções em propostas e problemas devem ser para melhorar, aperfeiçoar, aconselhar e fortalecer e <strong>nunca para desprestigiar, desrespeitar ou desvalorizar</strong>;</li>
  	<li>Se não concordar com alguma questão (proposta ou problema), explicite seu ponto de vista para que esta questão seja aperfeiçoada e, se necessário, crie outra proposta que esteja mais alinhada com a sua opinião pessoal e coloque-a a prova;</li>
  	<li>Forneça <strong>informações verdadeiras</strong>, corretas, atualizadas e completas sobre si mesmo e sobre as ações com que se envolver;</li>
  	<li>O Cidade Democrática deverá ser utilizado para finalidades lícitas, éticas e adequadas para que seja um espaço democrático e de construção de soluções para o bem comum;</li>
  	<li><strong>Respeite</strong> a manifestação e a opinião dos demais usuários;</li>
  	<li>Garanta que todos possam usar o Cidade Democrática aproveitando as oportunidades de manifestação para que possam construir seus grupos de interesse;</li>
  	<li>Seja autêntico. As informações (propostas, problemas, perguntas, comentários etc.) geradas por você são pertinentes às realidades específicas em que você vive e você é quem mais conhece esta realidade.</li>
  </ul>
   <p><strong>Boa participação!</strong></p>

  </div>
</div>
<div class="grid_5 omega sidebar">
  <%= render :partial => "lateral_ajuda" %>
</div>
