<div class="grid_11 alpha static_page">
	<div class="rounded">
		<h2>O Cidade Democrática para cidadãos</h2>

		<p>Nosso sítio eletrônico é um instrumento de ação para que CIDADÃS e CIDADÃOS, GESTORES PÚBLICOS e entidades como ONGS, MOVIMENTOS, EMPRESAS, FACULDADES/ UNIVERSIDADES e o PODER PÚBLICO possam:</p>

		<ul>
			<li>Criar e divulgar propostas e problemas e iniciar uma conversa com outros atores sociais;</li>
			<li>Receber apoios para suas propostas e problemas;</li>
			<li>Apontar e compartilhar questões públicas;</li>
			<li>Conhecer o cenário e ter acesso a relatórios sobre os temas e localidades de interesse;</li>
			<li>Reconhecer comunidades de colaboração e formar redes de pessoas e entidades que atuam em certos temas e locais;</li>
			<li>Apoiar propostas e problemas apontados por outros usuários e entidades;</li>
			<li>Fazer comentários e perguntas de interesse público;</li>
			<li>Dar idéias e fornecer informações sobre propostas e problemas;</li>
			<li>Criar o seu “observatório” para seguir e participar de discussões sobre os assuntos e as localidades que lhe interessam.</li>
		</ul>
	</div>
</div>

<div class="grid_5 omega sidebar">
<%= render :partial => "lateral_ajuda" %>
</div>
