<div class="grid_11 alpha static_page">
  <div class="rounded">
    <h2>O Cidade Democrática para entidades</h2>

    <p>O Cidade Democrática é uma ferramenta para entidades como ONGS, EMPRESAS, FACULDADES/UNIVERSIDADES e o PODER PÚBLICO atuarem para:</p>

    <ul>
      <li>Criar uma proposta, divulgá-la e colocá-la em discussão pela comunidade</li>
      <li>Receber apoios para suas propostas</li>
      <li>Apontar problemas públicos</li>
      <li>Obter um cenário e ter acesso a relatórios sobre os temas e localidades de interesse</li>
      <li>Reconhecer comunidades de colaboração e formar uma rede de pessoas e entidades que atuam em certos temas e locais</li>
      <li>Apoiar propostas e problemas apontados por outros usuários e entidades</li>
      <li>Fazer comentários, perguntas, dar idéias e informações sobre as propostas e problemas</li>
      <li>Criar o seu “Observatório” para seguir as discussões sobre os assuntos e as localidades que lhe interessam</li>
    </ul>
  </div>
</div>

<div class="grid_5 omega sidebar">
  <%= render :partial => "lateral_ajuda" %>
</div>
