  <div class="grid_11 alpha static_page">
    <div class="rounded">
      <h2>Quem somos</h2>

      <p>O <strong> Cidade Democrática</strong> é a principal iniciativa do <%= link_to 'Instituto Seva', 'http://www.institutoseva.org.br', :target => "blank"  %>, entidade sem fins lucrativos com qualificação de OSCIP, composta e dirigida por especialistas em questões como juventude, novos modelos de negócios sustentáveis, saúde, cultura, empreendedorismo social e meio ambiente.</p>

  		<p>Tendo começado a operar em 2009, o sítio eletrônico se insere no atual contexto de transformação das mídias e suas relações com os cidadãos, a sociedade civil e o poder público. Nossa missão é ser uma ferramenta inovadora que gere comunicação e mobilização para a construção uma cidade melhor.</p>

  		<p>Por ser uma ferramenta colaborativa, esperamos que a sua utilização aprimore a reflexão, o debate e a discussão dos temas públicos, e também nos aponte sugestões para o seu aprimoramento constante.</p>

  		<p>Acreditamos que a solução das nossas questões públicas e coletivas só será possível com a participação e o comprometimento de todos. Por isso a sua interação contínua com as atividades do Cidade Democrática é muito importante.</p>

  		<p>O desenvolvimento do Cidade Democrática é realizado por uma equipe diversa de profissionais como sociólogos, administradores, designers, jornalistas, engenheiros de computação, entre outros, todos alinhados com a responsabilidade de buscar caminhos para a construção de uma sociedade mais próspera e mais justa para todos.</p>
    </div>
  </div>
  <div class="grid_5 omega sidebar">
    <%= render :partial => "lateral_ajuda" %>
  </div>
