<div class="grid_11 alpha static_page">
  <div class="rounded">
    <h2>Termos de uso do Cidade Democrática</h2>

    <p><strong>Bem-vindo ao Cidade Democrática!</strong></p>

    <p>O Cidade Democrática oferece a você, cidadão e usuário, uma plataforma para a formação de comunidades de colaboração, que tenham como finalidade resolver problemas ou apoiar propostas de soluções para questões públicas e coletivas.</p>

    <p>Trata-se de uma ferramenta de participação cidadã que se aprimora de forma sistemática e que permite a você conhecer as principais questões propostas em uma determinada área (território, bairro, cidade) e relacionadas aos temas (tags) que você escolher. Além disso, o Cidade Democrática é, também, um espaço para você propor soluções, registrar problemas e construir diálogos colaborativos como instrumento de viabilização das questões, que, em sua opinião, são mais relevantes para o bem comum.</p>

    <p>Para ser usuário você  deve estar de acordo com estes Termos de Uso, os quais poderão ser modificadas periodicamente, sem aviso prévio, visando nortear boas condutas de utilização. A responsabilidade civil e penal pelas manifestações inseridas no Cidade Democráticas é de cada usuário. Não fazemos qualquer tipo de mediação e respeitamos a liberdade de expressão, desde que não firam as regras aqui estabelecidas.</p>

    <p><b>Mapas</b></p>
    <p>A plataforma de mapas que eventualmente compõe o Cidade Democrática é provida pelo Google Maps, suporte que também adota orientações próprias de uso. Para conhecê-las acesse (<a href="http://maps.google.com.br/help/terms_maps.html">http://maps.google.com.br/help/terms_maps.html</a>).</p>

    <p><b>Apoio jurídico</b></p>
    <p>Contamos com o apoio jurídico e legal do escritório Cesnik, Quintino e Salinas Advogados, na pessoa do Dr. Fernando Quintino (quintino@cqs.adv.br).</p>

    <p><b>Finalidade pública</b></p>
    <p>A fim de fomentar o uso cada vez mais público, o Cidade Democrática conta com o apoio e a colaboração de inúmeros profissionais, entidades, empresas e especialistas, os quais nos ajudam a alimentar essa plataforma colaborativa.</p>

    <p>As informações (propostas, problemas, perguntas, comentários etc.) geradas por você, são pertinentes às suas realidades específicas e poderão refletir de maneira diferente de acordo com a vivência de cada cidadão. Nesse contexto, nosso objetivo é facilitar a troca de informações e a formação de comunidades de colaboração para fortalecer as ações dos usuários alinhadas ao bem coletivo e público.</p>

    <p><b>Administração</b></p>
    <p>O Instituto Seva, que administra e é o principal fomentador do Cidade Democrática, está  sempre inovando para oferecer aos usuários um ambiente acessível e dinâmico de  participação cidadã.</p>

    <p>Reservamo-nos o direito de organizar, alterar, incluir ou retirar, informações de modo que o Cidade Democrática seja sempre um espaço democrático e de construção de soluções para o bem comum.</p>

    <p>A fim de manter esta ferramenta atualizada, dinâmica e com boa performance, poderemos promover implementos e alterações sem aviso prévio ou garantias de que os serviços oferecidos se mantenham com padrões anteriores - sejam eles gráficos, de linguagem, etc.</p>


    <p><b>Regras de participação</b></p>
    <p>Quando o Usuário propõe soluções, identifica problemas, faz comentários ou perguntas, responde questões etc. no Cidade Democrática, concorda em:</p>

  	<ul>

  		<li>Aderir ao princípio primordial da ferramenta que é o da colaboração. Assim, as intervenções em propostas e problemas inseridos por outros usuários somente poderão ser no sentido de aperfeiçoar, melhorar, aconselhar, fortalecer etc. e nunca visando desprestigiar, desrespeitar, desvalorizar etc. Se não concordar com alguma proposta, o usuário deve criar uma outra proposta que esteja mais alinhada com a sua opinião pessoal;</li>
  		<li>Fornecer informações verdadeiras, exatas, atuais e completas sobre si mesmo quando do registro no formulário de cadastro para acesso ao Cidade Democrática; e</li>
  		<li>Conservar e atualizar imediatamente tais informações de cadastro/login, a fim de mantê-las verdadeiras, exatas, atuais e completas.</li>
  	</ul>
    <p><b>Atenção:</b> se qualquer informação fornecida pelo usuário for falsa, incorreta, desatualizada ou incompleta, ou tenhamos razões suficientes para identificar que tais dados são falsos, incorretos, desatualizados ou incompletos, o Cidade Democrática terá o direito de excluir o conteúdo em questão, suspender ou cancelar de imediato, independente de notificação, a conta do usuário e as informações inseridas por ele, bem como recusar toda e qualquer utilização, presente ou futura por parte dele.</p>

    <p><b>Concordância</b></p>
    <p>O Usuário expressamente concorda e está ciente de que:</p>

    <p>O Cidade Democrática, como espaço de manifestação pública, é utilizado sob a responsabilidade e o inteiro risco do usuário. O serviço é fornecido na forma em que está disponível e pelas razões aqui explicitadas, não oferece garantias outras além das estabelecidas nestes Termos de Uso. O Cidade Democrática reserva-se o direito de não prestar assistência ou suporte técnico aos usuários do serviço e do software.</p>

    <p>O Cidade Democrática não pode garantir que:</p>
  	<ul>
  		<li>Determinados serviços à disposição atenderão às necessidades do usuário;</li>
  		<li>O serviço será prestado de forma ininterrupta, tempestiva, segura ou livre de erros;</li>
  		<li>O resultado obtido pelo uso do serviço será exato ou confiável;</li>
  		<li>A qualidade de qualquer produto, serviço, informações ou outro material adquirido ou obtido pelo usuário por meio do serviço, atenderá todas às suas expectativas;</li>
  		<li>Quaisquer erros serão corrigidos.</li>
  	</ul>

    <p><b>Violação de conduta</b></p>
    <p>Caso haja alguma violação de conduta, por favor, envie um e-mail para: <a href="mailto:cd@cidadedemocratica.org.br">cd@cidadedemocratica.org.br</a>.</p>

    <p><b>Concordância</b></p>
  	<p>Você concorda que é  responsável por sua própria conduta e qualquer inclusão de conteúdo por meio do Cidade Democrática, e por todas as consequências relacionadas?	</p>
  	<p>Você concorda em usar os serviços do Cidade Democrática apenas para finalidades lícitas, éticas, adequadas e condizentes com este Termo de Uso e com quaisquer políticas ou diretrizes aplicáveis?</p>
  	<p>Você respeita a manifestação livre de opinião dos demais usuários e concorda que não serão aceitas formulações que contrariem esses princípios?</p>
  	<p>Apenas para exemplificar, quando usar o Cidade Democrática, você concordará em não:</p>

  	<ul>
  		<li>Difamar, abusar, assediar, atacar, ameaçar ou, de qualquer outra forma, violar os direitos legais (como direitos de privacidade e publicidade) de terceiros;</li>
  		<li>Fazer upload, postar, enviar e-mail ou transmitir, ou de qualquer outra forma, disponibilizar qualquer conteúdo ilegal, obsceno, difamatório, inadequado e infrator;</li>
  		<li>Fazer upload, postar, enviar e-mail, transmitir ou, de qualquer outra forma, disponibilizar qualquer conteúdo que viole direitos de patentes, marcas comerciais, marcas de serviço, segredos comerciais ou outro direito de propriedade, de qualquer parte, a menos que você seja o proprietário desses Direitos ou tenha permissão do proprietário para postar tal conteúdo;</li>
  		<li>Fazer upload, postar, enviar e-mail, transmitir ou, de qualquer outra forma, disponibilizar mensagens que promovam esquemas de pirâmide, cartas de correntes, mensagens comerciais ou anúncios ofensivos, ou qualquer outra prática proibida por lei, por esses Termos de Serviço ou por quaisquer diretrizes ou políticas aplicáveis;</li>
  		<li>Fazer download de qualquer arquivo postado por outra pessoa, que você saiba, ou devesse saber, que não pode ser distribuído legalmente dessa forma;</li>
  		<li>Fingir ser outra pessoa ou entidade, falsificar ou excluir quaisquer atribuições de autoria, notificações legais ou outras adequadas, ou designações de propriedade, ou marcadores da origem ou fonte de software, ou outro material;</li>
  		<li>Restringir ou impedir qualquer outro Usuário que esteja usando e aproveitando os serviços do Cidade Democrática;</li>
  		<li>Utilizar os serviços e não aceitar os Termos se (a) não tiver idade legal ou emancipação para assumir obrigações ou assinar um contrato vinculativo com o Cidade Democrática, ou (b) for uma pessoa impedida ou incapaz segundo as Leis da República Federativa do Brasil;</li>
  		<li>Usar os serviços do Cidade Democrática para quaisquer fins ilegais ou não autorizados;</li>
  		<li>Remover qualquer aviso de direitos autorais, marca comercial ou avisos de direitos de propriedade contidos nos serviços do Cidade Democrática;</li>
  		<li>Interferir ou interromper os serviços ou servidores ou redes do Cidade Democrática conectadas aos serviços do Cidade Democrática, nem desrespeitar requisitos, procedimentos, políticas ou regulamentos de redes conectadas aos serviços do Cidade Democrática;</li>
  		<li>Usar qualquer tipo de robot, spider, aplicativos de pesquisa/recuperação de sítio eletrônico, ou outro dispositivo para recuperar ou indexar qualquer parte dos serviços do Cidade Democrática ou coletar informações sobre Usuários para quaisquer fins não autorizados;</li>
  		<li>Enviar conteúdo que expresse ou indique que tal conteúdo é patrocinado ou apoiado pelo Cidade Democrática;</li>
  		<li>Criar contas de Usuário por meios automatizados ou sob pretextos falsos ou fraudulentos;</li>
  		<li>Promover ou fornecer informações instrutivas sobre atividades ilegais, promover danos físicos ou ferimentos contra qualquer grupo ou indivíduo;</li>
  		<li>Transmitir vírus, worms, defeitos, cavalos de Tróia ou quaisquer itens de natureza destrutiva.</li>
  		<li>Zelar pela qualidade do conteúdo do sítio eletrônico não inserindo informações de caráter racista, pornográfico, ou que induzam a ódio, preconceito, a atitudes delinqüenciais ou que fujam da proposta do sítio eletrônico;</li>
  		<li><b>Não será permitido que nenhuma empresa se utilize deste espaço para seu benefício particular ou intuito de lucro.</b></li>
  	</ul>

  	<p>O Cidade Democrática se reserva o direito de, a qualquer tempo e a seu exclusivo critério, retirar qualquer intervenção ou perfil que possa ser interpretado contrário às regras de conteúdo ou às normas legais em vigor. Se por mais de uma vez forem descumpridas quaisquer das regras expostas ou for verificado o exercício de ilegalidades, o usuário poderá ser unilateralmente excluído do Cidade Democrática.</p>

  	<p>O Instituto Seva também se reserva o direito de utilizar o banco de dados, ceder e compartilhar informações com terceiros, inclusive promovendo projetos e programas de análise do conteúdo que compõe o banco de dados, podendo utilizar livremente das informações e dados, comprometendo-se a preservar toda e qualquer informação pessoal de usuários.</p>

  	<p>Ao clicar em "Concordo com os Termos de Uso", você indica que leu e concordou com a versão mais recente dos Termos de Uso e se vinculará automaticamente às regras contidas. </p>
  </div>
</div>

<div class="grid_5 omega sidebar">
<%= render :partial => "lateral_ajuda" %>
</div>