<% if session[:novo_comentario] -%>
<!-- AVISO DE NOVO COMENTARIO -->
<p class="novo_topico_aviso">
  As informações de <b>seu comentário</b> foram guardadas em nosso sistema.<br />
  <span class="menos_importante">Após fazer seu login ou cadastrar-se,
  o mesmo será automaticamente inserido.
</p>
<% end -%>
