<ul class="navigation_links">
  <li><%= link_to "Prêmios", prizes_competition_path(competition) %></li>
  <li><%= link_to "Regulamento", regulation_competition_path(competition) %></li>
  <li><%= link_to "Parceiros", partners_competition_path(competition) %></li>
</ul>
