<div class="clearfix prize_panel">
  <div class="offered">
   <%= render "users/ficha_do_usuario", :usuario => prize.offerer, :options => {} %>
  </div>
  <div class="description"><%= prize.description %></div>
</div>
