<div class="grid_16 alpha omega">
  <div class="grid_11 alpha competition_full">
    <%= render :partial => 'competition_banner' %>
    <%= render :partial => 'proposals_list' %>
  </div>

  <div class="grid_5 omega sidebar">
    <%= render "proposals_resume", :phase => :joining_phase %>
    <%= render "commom_sidebar" %>
  </div>
</div>
