<div class="grid_12 alpha static_page">
  <div class="rounded">
    <h2>Regulamento</h2>
    <%= markdown @competition.regulation %>
  </div>
</div>
<%= render :partial => "competitions/menu_sidebar" %>
