
<h2>Observe temas e regiões do seu interesse</h2>
<div class="grid_10 alpha static_page">

  <div class="rounded">
    <p>Acompanhe com seu <strong>observatório</strong> o que acontece nos <strong>temas</strong> e nas <strong>regiões</strong> que mais lhe interessam.</p>
    <p>Como funciona o observatório?</p>
    <ol>
      <li>Defina os temas e as regiões de seu interesse</li>
      <li>Acompanhe num mesmo lugar propostas, problemas, comentários e apoios</li>
      <li>Receba semanalmente as novidades por e-mail</li>
    </ol>
    <p>Este recurso é exclusivo para <strong>usuários cadastrados</strong>.</p>
    <br />
    <div class="action">
      <a class="btn" href="<%= new_user_session_url %>">Faça seu Login</a>
      <span>OU</span>
      <a class="btn" href="<%= new_user_registration_url %>">Cadastre-se Agora!</a>
    </div>
  </div>
</div>
<div class="grid_6 omega ">
  <div class="rounded">
  	<%= image_tag('binoculo.jpg') %>
  </div>
</div>
