<div class="grid_16 alpha">
  <div class="rounded">
    <h2>Reenviar email de instruções para desbloquear a conta</h2>
    <%= form_for resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post } do |f| -%>
    <fieldset>
      <ol>
        <li>
          <%= f.label :email, "Email:" %>
          <%= f.text_field :email, :class => "texto" %>
        </li>
      </ol>
    </fieldset>
    <p><%= submit_tag "Me reenvie instruções para desbloquear minha conta.", :class => "btn btn-mini" %></p>
    <% end -%>
  </div>
</div>
