<fieldset class="dados_obrigatorios">
  <ol>
    <li>
      <%= f.label :nome, "Nome" %>
      <%= f.text_field :nome, :class => "texto" %>
    </li>
    <li>
      <%= f.label :aniversario, "Data de fundação" %>
      <%= f.date_select :aniversario, :order => [ :day, :month, :year ],
                      :start_year => 1920,
                      :end_year => 1.year.ago.year,
                      :default => 18.years.ago %>
    </li>
  </ol>
</fieldset>