<fieldset class="descricao">
  <ol>
    <li>
      <%= f.label :descricao, "Apresente-se de forma sucinta" %>
      <%= f.text_area :descricao, :rows => 6, :cols => 45 %>
    </li>
  </ol>
</fieldset>