<ul class="sans-bullets bem-distribuidos">
  
  <fieldset class="grupo-simples">
    <legend>Fórmula da Relevância</legend>
    <p><strong>Atenção:</strong> alterações na fórmula são recalculadas uma vez ao dia, às 02:30.</p>
    <li>
      <%= label_tag "Fórmula" %>
      <%= text_area_tag "settings[tag_formula_relevancia]", @settings["tag_formula_relevancia"], :cols => 80, :rows => 2 -%>
      <p class="dica">Variáveis disponíveis:<br />
      <b>topicos_count</b> = Total de tópicos que usam a tag<br />
      <b>topicos_relevancias_sum</b> = Soma das relevâncias dos tópicos que usam a tag<br />
      <b>users_count</b> = Total de usuários que usaram a tag<br />
      <b>users_relevancias_sum</b> = Soma das relevâncias dos usuários que usaram a tag<br />
      Ex.: 3 * topicos_relevancias_sum + 2 * users_relevancias_sum
      </p>
    </li>
  </fieldset>
</ul>