<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
  <a class="addthis_button_facebook_follow" addthis:userid="cidademocratica"></a>
  <a class="addthis_button_twitter_follow" addthis:userid="cidademocratica"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ddd3d837b3ba8da"></script>
