.inspiration {margin:0 0 20px 0;}
.inspiration img {
  float: left;
  margin: 0 10px 5px 0;
  max-width: 150px;
  width: 150px;
  padding: 5px;
  border: 1px solid #cecece;
}
.inspiration h3 {
  color: black;
  font-size: 1.5em;
}
