<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
<script type="text/javascript">
var addthis_config = {
     ui_language: "pt" /*,
     services_expanded: "bebo,misterwong,netvibes" */
}
</script>
<a class="addthis_button_email">Email</a>
<a class="addthis_button_favorites">Favoritos</a>
<a class="addthis_button_print">Imprimir</a>
</div>
<div class="vertical">
<a class="addthis_button_gmail">Gmail</a>
<a class="addthis_button_yahoomail">YahooMail</a>
<a class="addthis_button_hotmail">Hotmail</a>
</div>
<div class="vertical">
<a class="addthis_button_blogger">Blogger</a>
<a class="addthis_button_twitter">Twitter</a>
<a class="addthis_button_facebook">Facebook</a>
</div>
<div class="vertical">
<a class="addthis_button_delicious">Delicious</a>
<a class="addthis_button_wordpress">Wordpress</a>
<a class="addthis_button_expanded">Mais...</a>
