<div id="divulgacao" style="display:none;">
  <div id="divulgue" class="addthis_toolbox">
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
    <script type="text/javascript">
      var addthis_config = {
           ui_language: "pt" /*,
           services_expanded: "bebo,misterwong,netvibes" */
      }
    </script>
    <div class="vertical">
      <a class="addthis_button_google_plusone_share">Google Plus</a>
      <a class="addthis_button_twitter">Twitter</a>
      <a class="addthis_button_facebook">Facebook</a>
    </div>
    <p><%= link_to_function "Cancelar", "Effect.BlindUp('divulgacao', {duration:0.4})" %></p>
  </div>
</div>

    
