<% title "#{@topico.display_name}: #{@topico.titulo.nome_proprio}" %>
<div class="clearfix novo_topico">
  <div class="grid_11 alpha addthis_toolbox">
    <h1>Divulgue para todos, em todos os canais!</h1>
    <div class="grid_3 alpha vertical">
<%= render :partial => "addthis" -%>
    </div>
    <div class="grid_5 omega">
    Instruções
    </div>
  </div>
</div>