<ul id="menu">
  <li><%= link_to "Concursos", competitions_path %></li>
  <li><%= menu_link_to_with_context "Comunidade", :usuarios %></li>
  <li><%= menu_link_to_with_context "Questões", :topicos %></li>
  <li><%= link_to "Como Funciona", static_page_path(:como_funciona) %></li>
</ul>
